{% extends 'quiz/base.html' %}
{% load static %}

{% block header %}
  <meta name="viewport" content="width = 1050, user-scalable = no" />
  <style>
    .on {color:#ff0000;}
    .words {
      padding: 20px;
      padding-top: 30px;
    }
  </style>
{% endblock %}

{% block content %}
  <!-- <p>제주 방언 사전입니다.</p>
  <form action="{% url 'dictionary' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="자료 업데이트">
  </form> -->

  <div class="flipbook-viewport">
  	<div class="container">
  		<div class="flipbook">
  			<div style="background-image:url({% static 'image/돌하르방.jpg' %})"></div>
        {% for dialect in dialects %}
          <div class="words">
            <h1>표준어 - 제주 방언</h1>
            {% for data in dialect %}
              <p>{{ data.standard }} - {{ data.jeju }}</p>
            {% endfor %}
          </div>
        {% endfor %}
  		</div>
  	</div>
  </div>

  <script type="text/javascript">
    function loadApp() {

    	// Create the flipbook

    	$('.flipbook').turn({
    			// Width

    			width:1075,

    			// Height

    			height:700,

    			// Elevation

    			elevation: 50,

    			// Enable gradients

    			gradients: true,

    			// Auto center this flipbook

    			autoCenter: true

    	});
    }

    // Load the HTML4 version if there's not CSS transform

    yepnope({
    	test : Modernizr.csstransforms,
    	yep: ['{% static 'js/turn.js' %}'],
    	nope: ['{% static 'js/turn.html4.min.js' %}'],
    	both: ['{% static 'css/basic.css' %}'],
    	complete: loadApp
    });
  </script>



{% endblock %}

<script>
  $(document).ready(function(){
  	$('.select ul li a').click(function(){
  		$('.select ul li a').removeClass('on');
  		$(this).addClass('on');
  	});

  	$('.1').click(function(){
  		$(".flipbook").turn("page", 2);
  	});
  	$('.2').click(function(){
  		$(".flipbook").turn("page", 4);
  	});
  	$('.3').click(function(){
  		$(".flipbook").turn("page", 6);
  	});
  	$('.4').click(function(){
  		$(".flipbook").turn("page", 8);
  	});
  	$('.5').click(function(){
  		$(".flipbook").turn("page", 10);
  	});
  	$('.6').click(function(){
  		$(".flipbook").turn("page", 12);
  	});



  	$(".flipbook").bind("turning", function(event, page, view) {
  		if (page==4||page==5) {
  			$('.select ul li a').removeClass('on');
  			$('.2').addClass('on');
  		}
  		if (page==2||page==3) {
  			$('.select ul li a').removeClass('on');
  			$('.1').addClass('on');
  		}
  		if (page==6||page==7) {
  			$('.select ul li a').removeClass('on');
  			$('.3').addClass('on');
  		}
  		if (page==8||page==9) {
  			$('.select ul li a').removeClass('on');
  			$('.4').addClass('on');
  		}
  		});
  	});
</script>
