{% extends 'quiz/base.html' %}

{% block content %}
  <div class="wrap2">
    <div class="content">
      <h1>소개</h1>
      <p>1. 개발 동기</p>
      <ul style="list-style:none;">
        <li>유네스코에서 제주 방언은 아주 심각하게 위에 처한 언어로 분류되었고</li>
        <li>제주 방언은 중세 국어의 흔적을 품고 있어 언어학적으로 중요한 의미를 지니고 있습니다.</li>
        <li>그래서 사라져가는 제주 방언 활성화 및 흥미 유발을 위하여 개발하게 되었습니다.</li>
      </ul>
    </div>
    <div class="content">
      <p>2. 팀원 소개</p>
      <ul>
        <li>김세훈(팀장) : 탐나는 소프트 웨어 코딩대회 PPT 및 발표</li>
        <li>원동훈 : 프론트앤드 개발</li>
        <li>허지식 : 백앤드 개발</li>
      </ul>
    </div>
  </div>
{% endblock %}
