{% extends 'quiz/base.html' %}

{% block content %}
  <div class="page_header">
    <h1><a href="">전체 공지</a></h1>
  </div>

  <div class="post">
    <p>2019년 07월 31일 05:14</p>
    <h2><a href="">1번째 공지</a></h2>
    <p>아직 개발 중입니다. 그래서 기능도 디자인도 없습니다.</p>
  </div>
  <hr>
  <div class="post">
    <p>2019년 07월 31일 05:20</p>
    <h2>2번째 공지</h2>
    <p>그럼에도 방문한 당신은 도대체..</p>
  </div>
  <hr>

  <h2><a href="{% url 'quiz' %}">문제 풀기</a></h2>
  <h2><a href="{% url 'dictionary' %}">제주 방언 사전</a></h2>
  <h2><a href="{% url 'help' %}">도움말</a></h2>
{% endblock %}
