{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}
  <div class="wrap">
    <div class="page_header">
      뭐랭햄수광
    </div>
    <!-- https://notefolio.net/pucoroom/84242 -->
    <img src="{% static 'image/jeju.jpg' %}">

    <div class="buttons">
      <a class="abc" href="{% url 'quiz' %}"><img src="{% static 'image/quiz.png' %}"></a>
      <a class="abc" href="{% url 'dictionary' %}"><img src="{% static 'image/사전.jpg' %}"></a>
      <a class="abc" href="{% url 'help' %}"><img src="{% static 'image/도움말.png' %}"></a>
    </div>
  </div>
{% endblock %}
